<div class="flex justify-center items-center gap-5">
  <a [routerLink]="['/folder-upload']" class="flex justify-center items-center">
    <mat-icon class="material-icons-outlined mr-1">home</mat-icon>
    <span>Home </span>
  </a>

  <a [routerLink]="['/folder-upload']" class="flex justify-center items-center">
    <mat-icon class="material-icons-outlined mr-1">group</mat-icon>
    <span>About </span>
  </a>

  <a [routerLink]="['/folder-upload']" class="flex justify-center items-center">
    <mat-icon class="material-icons-outlined mr-1">contact_phone</mat-icon>
    <span>Contact us </span>
  </a>

  <a [routerLink]="['/folder-upload']" class="flex justify-center items-center">
    <mat-icon class="material-icons-outlined mr-1">notifications</mat-icon>
    <span>Notifications</span>
  </a>
</div>
